.create-entry{
  --background:#E74C3C;	
  margin: 0px 20px;
}

ion-content{
	 --ion-background-color:#EDEFF1;
}

.nav-button{
	--background:#E74C3C;	
	--color:#ffffff;	
	--border-color:transparent;
	font-weight:bolder;
	float:right;
}

.util-icon{
	padding:5px;
}