.create-entry{
  --background:#E74C3C;	
  margin: 0px 20px;
}

ion-content{
	 --ion-background-color:#EDEFF1;
}

.nav-button{
	--background:#E74C3C;	
	--color:#ffffff;	
	--border-color:transparent;
	font-weight:bolder;
	float:right;
}

.util-icon{
	padding:5px;
}

.filter{
	padding:0px;
}

ion-card{
	--background:#2C3E50;
}

.searchbar{
	padding:0px;
	--background:#ffffff;
}

.sort{
	background:#ffffff;
	border-radius:2px;
}

ion-text{
	color:#ffffff;
}
