.create-entry{
  --background:#E74C3C;	
  margin: 0px 20px;
}

ion-content{
	 --ion-background-color:#EDEFF1;
}

.nav-button{
	--background:#E74C3C;	
	--color:#ffffff;	
	--border-color:transparent;
	font-weight:bolder;
	float:right;
}

.util-icon{
	padding:5px;
}

.filter{
	padding:0px 30px;
}

ion-card{
	--background:#2C3E50;
}

.searchbar{
	padding:5px 10px;
	--background:#ffffff;
}

.datetime{
	padding:5px 10px;
	background-color:#ffffff;
}

.sort{
	background:#ffffff;
	border-radius:2px;
	margin:5px 10px;
}

ion-text{
	color:#ffffff;
}

.searchResults{
	margin: 0px 20px;
	p{
	margin-bottom:0px;
	}
	ion-button{
	--color:#E74C3C;	
	}
}