<ion-header class="main-header">
  <ion-toolbar>
    <ion-title>
      My Entries
    </ion-title>
    <ion-button class="create-entry" slot="end"><ion-icon name="funnel-outline" class="util-icon"></ion-icon> SORT ENTRIES </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col size="6">
				<app-journal-card></app-journal-card>
			</ion-col>
			<ion-col size="6">
				<app-journal-card></app-journal-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="6">
				<app-journal-card></app-journal-card>
			</ion-col>
			<ion-col size="6">
				<app-journal-card></app-journal-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="6">
				<app-journal-card></app-journal-card>
			</ion-col>
			<ion-col size="6">
				<app-journal-card></app-journal-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button class="nav-button">Next Page >></ion-button>
				<ion-button class="nav-button"><< Previous Page</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>