<ion-header class="main-header">
  <ion-toolbar>
    <ion-title>
      Create Entry
    </ion-title>
    <ion-button (click)="cancelEntry()" class="create-entry" slot="end"><ion-icon name="close-circle-outline" class="util-icon"></ion-icon> CANCEL ENTRY </ion-button>
    <ion-button (click)="saveEntry()" class="create-entry" slot="end"><ion-icon name="save-outline" class="util-icon"></ion-icon> SAVE ENTRY </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-journal-construct></app-journal-construct>
</ion-content>