ion-content {
    --ion-background-color: #edeff1;
}

ion-card-title{
    color: white;
}

.lifeverse{
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bolder;
}

ion-textarea{
    margin-top: 0px;
}

.input_editmode{
    --color: #818181;
}

.input_romode{
    --background: #2C3E50;
    color: white;
}



ion-card-subtitle{
    color: white;
}

.banner {
    --background: linear-gradient(197deg, #fffae6 0%, #f9f0cd 13.5%, #f7edc4 28.33%, #f5e6aa 100%) !important;
}

.profile-form {
    --background: #2C3E50;
}

.life-verse-card {
    --background: #2C3E50;
    color: white;
}

.input {
    --background: transparent;
}

.profile {
    height: 170px;
    margin-top: 12px;
}

.profile-image {
    height: 200px;
    width: auto;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.btn-save{
    // float: right;
    --background:#E74C3C;
    color: #ffffff;
    font-weight:bolder;
    margin: 0px 20px;
}

.ripple-style{
    --ripple-color: #ffffff;
}

.icon-label{
    color: white;
}

.add-image{
	float:right;
	background-color:#E74C3C;	
	color:white;
	padding:8px 20px 5px 20px;
	border-radius:10%;
	cursor:pointer;
}

.add-image:focus,
.add-image:hover {
    background-color: #E95A4B;
}

.image-input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
