ion-content {
    --ion-background-color: #edeff1;
}

ion-card-title{
    color: white;
}

.lifeverse{
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bolder;
}

ion-textarea{
    margin-top: 0px;
}

.input_editmode{
    --color: #818181;
}

.input_romode{
    --background: #2C3E50;
    color: white;
}



ion-card-subtitle{
    color: white;
}

.banner {
    --background: linear-gradient(197deg, #fffae6 0%, #f9f0cd 13.5%, #f7edc4 28.33%, #f5e6aa 100%) !important;
}

.profile-form {
    --background: #2C3E50;
}

.life-verse-card {
    --background: #2C3E50;
    color: white;
}

.input {
    --background: transparent;
}

.profile {
    text-align:center;
    display: block;
}

.profile-image {
    height: 250px;
    width: 250px;
    
    margin: 0 auto;
    border-radius: 50%;
}

.profile-button {
  --background:#E74C3C;
  float:right;
}

.image-button {
 --background:#E74C3C;
  margin-top: 80px;
  margin-left: 50px;
}

.cancel-button {
 --background:#E74C3C;
  margin-top: 80px;
}



.btn-save{
    // float: right;
    --background:#E74C3C;
    color: #ffffff;
    font-weight:bolder;
    margin: 0px 20px;
}

.ripple-style{
    --ripple-color: #ffffff;
}

.icon-label{
    color: white;
}

.add-image{
    margin: 4px auto;
    float:right;
    background-color:#E74C3C;   
    color:white;
    font-size:14px;
    border-radius:4px;
    padding:10px 15px;
    cursor:pointer;
}

.add-image:focus,
.add-image:hover {
    background-color: #E95A4B;
}

.image-input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
