<ion-header>
  <ion-toolbar>
    <ion-title>
      My Profile
    </ion-title>
    <ion-button *ngIf="formStatus == true" slot="end" (click)="editForm()" class="btn-save ripple-style">
      <ion-icon name="create-outline"></ion-icon>&nbsp;Edit
    </ion-button>
    <ion-button *ngIf="formStatus == false" slot="end" (click)="saveFormChanges()" class="btn-save ripple-style">
      <ion-icon name="save-outline"></ion-icon>&nbsp;Save
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profile_form">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card class="banner">
            <ion-row>
              <ion-col size="12" size-sm>
                <div class="profile">
                  <img class="profile-image" src="assets/imgs/profile.jpg">
                </div>
              </ion-col>
              <ion-col size="12" size-sm>
                <ion-card class="life-verse-card">
                  <ion-card-header>
                    <ion-card-subtitle>Life Verse</ion-card-subtitle>
                    <ion-card-title>Verse Title</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card class="banner">
            <ion-card-content>
              <ion-card class="profile-form">
                <ion-card-header>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <div>
                          <ion-card-title>Personal Information</ion-card-title>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12" size-sm>
                        <div>
                          <ion-item *ngIf="formStatus == false" class="input_editmode">
                            <ion-label></ion-label>
                            <ion-icon name="person"></ion-icon>
                            <ion-input type="text" placeholder="First Name" required [readonly]="formStatus"
                              formControlName="firstname"></ion-input>
                          </ion-item>
                          <ion-item *ngIf="formStatus == true" class="input_romode">
                            <ion-icon class="icon-label" name="person"></ion-icon>
                            <ion-label>
                              &nbsp; {{firstName}}
                            </ion-label>
                          </ion-item>
                        </div>
                      </ion-col>
                      <ion-col size="12" size-sm>
                        <div>
                          <ion-item *ngIf="formStatus == false" class="input_editmode">
                            <ion-label></ion-label>
                            <ion-icon name="person-outline"></ion-icon>
                            <ion-input type="text" placeholder="Last Name" required [readonly]="formStatus"
                              formControlName="lastname"></ion-input>
                          </ion-item>
                          <ion-item *ngIf="formStatus == true" class="input_romode">
                            <ion-icon class="icon-label" name="person-outline"></ion-icon>
                            <ion-label>
                              &nbsp; {{lastName}}
                            </ion-label>
                          </ion-item>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12" size-sm>
                        <div>
                          <ion-item *ngIf="formStatus == false" class="input_editmode">
                            <ion-label></ion-label>
                            <ion-icon name="mail"></ion-icon>
                            <ion-input type="text" placeholder="Email Address" required [readonly]="formStatus"
                              formControlName="email">
                            </ion-input>
                          </ion-item>
                          <ion-item *ngIf="formStatus == true" class="input_romode">
                            <ion-icon class="icon-label" name="mail"></ion-icon>
                            <ion-label>
                              &nbsp; {{emailAddress}}
                            </ion-label>
                          </ion-item>
                        </div>
                      </ion-col>
                      <ion-col size="12" size-sm>
                        <div>
                          <ion-item *ngIf="formStatus == false" class="input_editmode">
                            <ion-label></ion-label>
                            <ion-icon name="calendar"></ion-icon>
                            <ion-input type="text" placeholder="Date of Birth" required [readonly]="formStatus"
                              formControlName="date">
                            </ion-input>
                          </ion-item>
                          <ion-item *ngIf="formStatus == true" class="input_romode">
                            <ion-icon class="icon-label" name="calendar"></ion-icon>
                            <ion-label>
                              &nbsp; Email Address
                            </ion-label>
                          </ion-item>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>