<ion-content fullscreen>
	<form  [formGroup]="signup_form" >
		<ion-grid>
      <ion-row *ngIf="platform.width()>1200"> 
          <ion-col size-lg="8" offset-lg="2" size-xl="10" offset-xl="1" text-center  class="signup-content-desktop" >
            <ion-row>
              <ion-col size="6" class="left-content">
                <img class="logo-desktop" src="assets/imgs/logo-white.png">
                <ion-title class="title">Gather the Journey</ion-title>

              <!--   <ion-button class="social-login" size="large" expand="full" (click)="login(login_form.value)" >Sign in with Google+</ion-button> 

                <ion-button class="social-login" size="large" expand="full" (click)="login(login_form.value)" >Sign in with Facebook</ion-button>  -->
              </ion-col>

              <ion-col size="6" class="right-content">
                <ion-button class="signup-nav" (click)="signup()" disabled="true">Register</ion-button>
                <ion-button class="login-nav" (click)="login()">Log In</ion-button>
                

                <h1>Register</h1>
                
                <ion-item>
                  <ion-label class="label-desktop" position="floating">First Name <span class="red" *ngIf="!signup_form.controls.firstname.valid">*</span></ion-label>
                  <ion-input type="text" formControlName="firstname" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label class="label-desktop" position="floating">Last Name <span class="red" *ngIf="!signup_form.controls.lastname.valid">*</span></ion-label>
                  <ion-input type="text" formControlName="lastname" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label class="label-desktop" position="floating">Username <span class="red" *ngIf="!signup_form.controls.username.valid">*</span></ion-label> 
                  <ion-input type="text" formControlName="username" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label class="label-desktop" position="floating">Email Address <span class="red" *ngIf="!signup_form.controls.email.valid">*</span></ion-label> 
                  <ion-input type="email" formControlName="email" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label class="label-desktop" position="floating">Birthdate <span class="red" *ngIf="!signup_form.controls.birthdate.touched">*</span></ion-label> 
                  <ion-datetime displayFormat="MMMM DD, YYYY" pickerFormat="MMMM DD, YYYY"
                             required formControlName="birthdate">
                            </ion-datetime>
                </ion-item>              

                <ion-item>
                  <ion-label class="label-desktop" position="floating">Password<span class="red" *ngIf="!signup_form.controls.password.valid">*</span></ion-label> 
                  <ion-input type="password" formControlName="password" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label class="label-desktop" position="floating">Re-type Password <span class="red" *ngIf="signup_form.controls.password.value !== signup_form.controls.confirmpassword.value">*</span></ion-label>
                  <ion-input type="password" formControlName="confirmpassword" required></ion-input>
                </ion-item>

                <<!-- p *ngIf="showError" class="error" text-center>Error encountered. Please try again.</p>
                <p *ngIf="showShortPassword" class="error" text-center>Password should be atleast 6 characters.</p>
                <p *ngIf="showPasswordMismatch" class="error" text-center>Error encountered. Passwords do not match.</p> -->
                <p *ngIf="showSuccess" class="black" text-center>SIGNUP SUCCESSFUL!</p>
                <p *ngIf="showSuccess" class="black" text-center>Please access your account from the login page</p>
              
                <ion-button class="signup-button" size="large" expand="full" (click)="signup(signup_form.value)" [disabled]="regValidation()" type="submit">Register</ion-button>

                <button class="recover-button help" text-center>Need help?</button>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="platform.width()<1201">
          <ion-col size-sm="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4" offset-xl="4" text-center  class="signup-content" >
            <img class="logo" src="assets/imgs/logo-white.png"> 
            <ion-title class="title">Gather the Journey</ion-title>
            <!-- <p *ngIf="showError" class="error" text-center>Error encountered. Please try again.</p>
            <p *ngIf="showShortPassword" class="error" text-center>Password should be atleast 6 characters.</p>
            <p *ngIf="showPasswordMismatch" class="error" text-center>Error encountered. Passwords do not match.</p> -->
            <p *ngIf="showSuccess" class="white" text-center>SIGNUP SUCCESSFUL!</p>
            <p *ngIf="showSuccess" class="white" text-center>Please access your account from the login page</p>

              <ion-item>
                  <ion-label></ion-label> <ion-icon name="person-outline"></ion-icon> 
                  <ion-input type="text" placeholder="First Name" formControlName="firstname" required></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label></ion-label> <ion-icon name="person"></ion-icon> 
                  <ion-input type="text" placeholder="Last Name" formControlName="lastname" required></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label></ion-label> <ion-icon name="person-outline"></ion-icon> 
                  <ion-input type="text" placeholder="Username" formControlName="username" required></ion-input>
              </ion-item>

             <ion-item>
                  <ion-label></ion-label> <ion-icon name="mail"></ion-icon> 
                  <ion-input type="text" placeholder="Email Address" formControlName="email" required></ion-input>
              </ion-item>

              <ion-item style="position: relative">
                <ion-icon name="calendar-outline"></ion-icon>
                <ion-datetime placeholder="Birthdate" displayFormat="MMMM DD, YYYY" pickerFormat="MMMM DD, YYYY"
                           required formControlName="birthdate">
                          </ion-datetime>
              </ion-item> 

              <ion-item>
                <ion-label> </ion-label> <ion-icon name="lock-closed-outline"></ion-icon> 
                <ion-input placeholder="Password" type="password" formControlName="password" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label> </ion-label> <ion-icon name="lock-closed"></ion-icon> 
                <ion-input placeholder="Retype Password" type="password" formControlName="confirmpassword" required></ion-input>
              </ion-item>

              <ion-button class="signup-button" expand="full" (click)="signup(signup_form.value)" [disabled]="regValidation()"  type="submit">CREATE ACCOUNT</ion-button>

              <p class="white margin-top" text-center>Already have an account? Login here!</p>

              <ion-button class="login-button" expand="full" (click)="login()" >LOGIN</ion-button>            

          </ion-col>
        </ion-row>

    </ion-grid>
  </form>
</ion-content>
  			

 
