<ion-content fullscreen>
  <ion-grid>
    <ion-row *ngIf="num_verified == false">
      <ion-col size-sm="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4" offset-xl="4" text-center
        class="fp-content">
        <img class="logo" src="assets/imgs/logo-white.png">
        <h1 class="label-white">Account Recovery</h1>

        <div *ngIf="step1 == true">
       
    	 <div class="sent-v">
            <p>Enter your email associated with <br> your account below.</p>
          </div>

        <ion-item>
          <ion-label></ion-label>
          <ion-icon name="mail"></ion-icon>
          <ion-input type="text" placeholder="Input Email" required
            [(ngModel)]="emailInput">
          </ion-input>
        </ion-item>

         <ion-button class="signup-button" expand="full" (click)="submitEmail(emailInput)" type="submit" [disabled]="emailInput == null">RECOVER
          ACCOUNT</ion-button>

         <ion-button class="signup-button" expand="full" (click)="goBackToLogin()" type="submit">
        GO BACK TO LOGIN</ion-button>

        </div>

        <div *ngIf="step2 == true">

        <div class="sent-v">
          <p>We have sent a verification number <br> to your linked email address!</p>
        </div>

        <ion-item>
          <ion-label></ion-label>
          <ion-icon name="checkmark-circle"></ion-icon>
          <ion-input type="number" placeholder="Input verfication number (code: 1234)" required
            [(ngModel)]="v_num_input">
          </ion-input>
        </ion-item>

         <p class="white">Code not sent? <button class="white" text-center (click)="submitEmail(emailInput)">Resend code here!</button>
        </p>

        <ion-button class="signup-button" expand="full" [disabled]="v_num_input == null" (click)="submitRecovery(v_num_input)" type="submit">VERIFY NUMBER</ion-button>

        <ion-button class="signup-button" expand="full" (click)="goBackToLogin()" type="submit">
        GO BACK TO LOGIN</ion-button>
        </div>

        <div *ngIf="step3 == true">

        <div class="sent-v">
          <p>Please enter your new password.</p>
        </div>

        <ion-item>
          <ion-label></ion-label>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input type="password" placeholder="Password" [(ngModel)]="password" required
            >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label></ion-label>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" required
            >
          </ion-input>
        </ion-item>

        <div *ngIf="passwordError">
          <p ><span class="red">Error! Please check your password.</span></p>
        </div>

         <ion-button class="signup-button" expand="full" (click)="changePassword()" [disabled]="password == null" type="submit">
            CHANGE
            PASSWORD</ion-button>
    	
            <ion-button class="signup-button" expand="full" (click)="goBackToLogin()" type="submit">
        GO BACK TO LOGIN</ion-button>

       <!--  <ion-item>
          <ion-label></ion-label>
          <ion-icon name="checkmark-circle"></ion-icon>
          <ion-input type="number" placeholder="Input verfication number (code: 1234)" required
            [(ngModel)]="v_num_input">
          </ion-input>
        </ion-item> -->

        </div>

        <div *ngIf="step4 == true">

        <div class="sent-v">
          <p>You have successfully recovered <br> your account!</p>
        </div>

        


        <!-- <p class="white">Code not sent? <button class="white" text-center (click)="recover()">Resend code here!</button>
        </p> -->

        <!-- <ion-button class="signup-button" expand="full" (click)="submitRecovery(v_num_input)" type="submit">RECOVER
          ACCOUNT</ion-button> -->

        <ion-button class="signup-button" expand="full" (click)="goBackToLogin()" type="submit">
        GO BACK TO LOGIN</ion-button>
    </div>

      </ion-col>
    </ion-row>


   <!--  <form [formGroup]="password_form">
      <ion-row *ngIf="num_verified == true">
        <ion-col size-sm="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4" offset-xl="4" text-center
          class="fp-content">
          <img class="logo" src="assets/imgs/logo-white.png">
          <h1 class="label-white">Account Recovery</h1>

         

          <div class="sent-v">
            <p>Enter your new password in the forms below</p>
          </div>

          <ion-item>
            <ion-label></ion-label>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input type="password" placeholder="Input Password" required formControlName="new_password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label></ion-label>
            <ion-icon name="lock-closed"></ion-icon>
            <ion-input type="password" placeholder="Verify Password" required formControlName="verify_password">
            </ion-input>
          </ion-item>

          <ion-button class="signup-button" expand="full" (click)="changePassword(password_form.value)" type="submit">
            CHANGE
            PASSWORD</ion-button>

        </ion-col>
      </ion-row>
    </form> -->
  </ion-grid>
</ion-content>