<ion-content fullscreen>
  <ion-grid>
    <ion-row *ngIf="num_verified == false">
      <ion-col size-sm="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4" offset-xl="4" text-center
        class="fp-content">
        <img class="logo" src="assets/imgs/logo-white.png">
        <h1 class="label-white">Account Recovery</h1>

        <div class="email">
          <ion-icon name="person-circle-outline" class="icon-white"></ion-icon>
          <ion-label>&nbsp;paul..........il.com</ion-label>
        </div>

        <div class="sent-v">
          <p>We have sent a verification number <br> to your linked email address!</p>
        </div>

        <ion-item>
          <ion-label></ion-label>
          <ion-icon name="checkmark-circle"></ion-icon>
          <ion-input type="number" placeholder="Input verfication number (code: 1234)" required
            [(ngModel)]="v_num_input">
          </ion-input>
        </ion-item>
        <div class="error-message" *ngIf="wrong_num == true">
          <ion-icon name="alert-circle-outline"></ion-icon>&nbsp; Verification code incorrect!
        </div>


        <p class="white">Code not sent? <button class="white" text-center (click)="recover()">Resend code here!</button>
        </p>

        <ion-button class="signup-button" expand="full" (click)="submitRecovery(v_num_input)" type="submit">RECOVER
          ACCOUNT</ion-button>

      </ion-col>
    </ion-row>


    <form [formGroup]="password_form">
      <ion-row *ngIf="num_verified == true">
        <ion-col size-sm="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4" offset-xl="4" text-center
          class="fp-content">
          <img class="logo" src="assets/imgs/logo-white.png">
          <h1 class="label-white">Account Recovery</h1>

          <div class="email">
            <ion-icon name="person-circle-outline" class="icon-white"></ion-icon>
            <ion-label>&nbsp;paul..........il.com</ion-label>
          </div>

          <div class="sent-v">
            <p>Enter your new password in the forms below</p>
          </div>

          <ion-item>
            <ion-label></ion-label>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input type="password" placeholder="Input Password" required formControlName="new_password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label></ion-label>
            <ion-icon name="lock-closed"></ion-icon>
            <ion-input type="password" placeholder="Verify Password" required formControlName="verify_password"></ion-input>
          </ion-item>

          <ion-button class="signup-button" expand="full" (click)="changePassword(password_form.value)" type="submit">CHANGE
            PASSWORD</ion-button>

        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>