ion-content{
    --ion-background-color: #F5E6AA;
  }
  
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent;
  }
  
  .red{
  color:#ff0000;
}

  .fp-content{
    margin-top:50px;
    background-color:#2C3E50;
    padding:50px;
  }
  
  .label-white{
    --background: #2C3E50;
    color: white;
    text-align: center;
  }

  .email{
    --background: #2C3E50;
    color: white;
    text-align: center;  
  }

  .sent-v{
    --background: #2C3E50;
    color: white;
    text-align: center;  
    border: white solid 1px;
    
    margin-top: 30px;
  }

  p{
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 15px;
  }

  .icon-white{
    --background: #2C3E50;
    color: white;
  }
  
  ion-item{
    --background:white;
    --color: #818181;
    margin:10px 0px;
  }

  button:hover{
    color: #E74C3C;
  }
  
  ion-button{
    --background:#E74C3C;
    margin-top:30px;
    color: #ffffff;
    font-weight:bolder;
  }
  
  .white{
    color: #ffffff; 
    background:transparent; 
  }
  
  .margin-top{
    margin-top:40px;
  }
  
  .logo{
    padding: 85px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .error-message{
    color: #E74C3C;
    font-weight:bolder;
  }

  