<ion-header class="main-header">
  <ion-toolbar>
    <ion-title>
      Edit Entry
    </ion-title>
    <ion-button (click)="saveChanges()" class="create-entry" slot="end"><ion-icon name="save-outline" class="util-icon"></ion-icon> </ion-button>
    <ion-button (click)="cancelEdit()" class="create-entry" slot="end"><ion-icon name="trash-outline" class="util-icon"></ion-icon> </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="error" *ngIf="showError">Failed to Update Entry. Please try again.</p> 
  <app-journal-construct></app-journal-construct>
</ion-content>