ion-content{
  --ion-background-color: #F5E6AA;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent;
}

.login-content{
  margin-top:50px;
  background-color:#2C3E50;
  padding:50px;
}

ion-item{
  --background:white;
  --color: #818181;
  margin:10px 0px;
}

.login-button{
  --background:#E74C3C;
  margin-top:20px;
  color: #ffffff;
  font-weight:bolder;
}

.signup-button{
  --background:#FF645F;
}

.white{
  color: #ffffff; 
  background:transparent;
}

.margin-top{
  margin-top:40px;
}

.logo{
  padding: 40px;
}