
<ion-app>

<ion-header class="main-header" *ngIf="userService.showMenubar">
  <ion-toolbar>
    <ion-button class="logout" fill="clear" slot="start" (click)="toggleSideBar()"><ion-icon  name="menu-outline"></ion-icon></ion-button>
    <ion-title>
      <img class="logo" src="assets/imgs/logo.png">
    </ion-title>
    <ion-button class="logout" fill="clear" slot="end" (click)="logout()"><ion-icon  name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane contentId="main-content" [when]="userService.showSidebar==true">
    <ion-menu contentId="main-content" type="push">
      <ion-content >
        <div class="profile">
          <img class="profile-image" src="assets/imgs/profile.jpg">
        </div>

        <ion-list id="inbox-list">
          <ion-list-header>Sample Username</ion-list-header>
          <ion-note>Sample Email Address</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>





</ion-content>


    

</ion-app>
