ion-menu ion-content {
  
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: #2C3E50;
}

ion-menu.md ion-item.selected ion-icon {
  color: #ffffff;
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: #ffffff;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #616e7e;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: #616e7e;
}

ion-item.selected {
  --color: #ffffff;
}

.logo{
  height: 3vw;
  min-height: 50px;
  padding: 5px 0px 1px;
}

.main-header{
  --ion-background-color: #F5E6AA;
}

.create-entry{
  --background:#0a947a;
}

.logout{
  --color:#E74C3C;
  font-size:20px;
  font-weight:bolder;
}

.profile{
  height: 170px;
  //background: url(../assets/imgs/background-profile.jpg) 0 0/100% 100% no-repeat;
}

.profile-image{
  height: 150px;
    width: auto;
    margin: auto;
    display: block;
  border-radius:50%;
}

.grid-profile{
  --ion-grid-padding:0;
}

ion-split-pane{
  --side-width: 250px;
}

ion-list-header{
     display:block;
     text-align: center;
}
