
<ion-app>

<ion-header class="main-header" *ngIf="userService.showMenubar">
  <ion-toolbar>
    <ion-menu-button class="logout" fill="clear" slot="start"><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
    <ion-title>
      <img class="logo" src="assets/imgs/logo.png">
    </ion-title>
   <!--  <ion-button class="logout" fill="clear" slot="end" (click)="logout()"><ion-icon  name="log-out-outline"></ion-icon></ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane contentId="main-content" [when]="userService.showSidebar==true">
    <ion-menu contentId="main-content" type="overlay" >
      <ion-content >
        <div class="profile">
        <div class="profile-image" [ngStyle]="{'background': 'url(' + userService.profileImage + ') no-repeat center'}">
                          <!-- <img class="profile-image" [src]="profileImage" > -->
                        </div> 
                      </div>
        <ion-list id="inbox-list">
          <!-- <ion-list-header>{{getUsername()}}</ion-list-header>
          <ion-note>{{getEmail()}}</ion-note> -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="userService.selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="userService.selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
           <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" routerDirection="root" lines="none" detail="false" class="logout">
              <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-content> 

</ion-app>
