.create-entry{
	
}

ion-col{
    text-align: center;
}

.fb{
	--background:#1F449C;
}

.tw{
	--background:#50ABF1;
}

.in{
	--background:#0077B7;
}

.rt{
	--background:#FF4500;
}

.textbox{
	padding:8px 2px;
	margin: 0px 5px;
	border: 2px solid #EDEFF1;
	border-radius: 5px;
	background-color:#EDEFF1;
	text-align: center;
}

.margin{
	margin:20px 2px ;
}

.copy{
	--background:#E74C3C;

}
