<ion-grid>
	<ion-row *ngIf="userService.entries.length != 0">
		<ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" *ngFor="let entry of userService.entries; let i = index"  >
			<ion-card (click)="goToEntry(entry)">
  				<ion-card-header>
    				<ion-card-subtitle>{{entry.CreatedTimestamp | date:'medium'}}</ion-card-subtitle>
    				<ion-card-title>{{entry.Title}}</ion-card-title>
  				</ion-card-header>
          <div class="image-div" [ngStyle]="{'background': 'url(https://journal4life.com/api/v1/images/entries/'+ entry.EntryNo + '/' + entry.EntryNo + '-0.jpeg' + ') no-repeat center'}">
          </div>
  				<ion-card-content class="card-content">
  					<p class="card-text">{{getContent(entry.Content)}}</p>
  				</ion-card-content>
			</ion-card>
		</ion-col>
  </ion-row>
  <ion-row *ngIf="userService.entries.length == 0">
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" >
      <ion-item>
      <ion-label>No Entries found.</ion-label>
    </ion-item>
    </ion-col>
	</ion-row> 
</ion-grid>