ion-card{
	--background:#ffffff;
	cursor:pointer;
}

ion-card:hover{
	--background:#2C3E50;
	--color:white;
	ion-card-title, ion-card-subtitle {
	--color:white;
	}
}

.card-content{
	height:55px;
	overflow:hidden;
}

.card-text{
	text-overflow: ellipsis !important;
	overflow:hidden;
}

.image-div{
	height:300px;
	object-fit:cover;
}
.no-entry {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 50px;
	.icon {
		margin: 0px !important;
		font-size: 120px;
		--ionicon-stroke-width: 10px;
		color: rgb(97,110,126);
	}
	.no-entry-text {
		margin-top: -30px !important;
		color: rgb(97,110,126);
	}
}
