.create-entry{
  --background:#0a947a;
  margin: 0px 20px;
}

ion-content{
	 --ion-background-color:#EDEFF1;
}

.create-entry{
  --background:#E74C3C;	
  margin: 0px 20px;
}

.yellow{
	--background: #fff;
  --spinner-color: #F5E6AA !important;

  //color: #fff;:#F5E6AA;
}

.view-all-button{
	--background:transparent;
	--color:#0a947a;
	--border-color:transparent;
	font-weight:bolder;
	float:right;
}