<ion-grid>
	<ion-row>
		<ion-col size="12">
				<ion-card>
					<ion-card-header>
						<ion-card-title>
							<ion-row>
								<ion-col size="11">
									<ion-input placeholder="Place Title Here..." [(ngModel)]="userService.title"></ion-input>
								</ion-col>
								<ion-col size="1">
									<label class="add-image" for="file"><ion-icon name="images-outline" class="util-icon"></ion-icon></label>
									<input #image (change)="acceptImage(image)" name="file" id="file" class="image-input" type="file" accept="image/gif, image/jpeg, image/png" multiple/>
								</ion-col>
							</ion-row>
						</ion-card-title>
					</ion-card-header>
					<ion-card-content *ngIf="imagePaths.length > 0">
						<p>Click an image to remove from list.</p>
						 <div class="uploads" *ngFor="let imagePath of userService.imagePaths; let i = index" [ngStyle]="{'background': 'url(' + imagePath + ') no-repeat center'}" (click)="removeImage(i)">
          				</div>




						<!-- <img class="uploads" *ngFor="let imagePath of imagePaths; let i = index" [src]="imagePath" (click)="removeImage(i)"> -->
					</ion-card-content>
					<!-- <img class="card-image" src="assets/imgs/placeholder-image.jpg"/> -->
					<ion-card-content class="journal-content">
						<quill-editor rows="25" [(ngModel)]="userService.content"
    [placeholder]="editorPlaceholder"
    [modules]="editorOptions"></quill-editor>
						<!-- <ion-textarea class="journal-content" rows="25"
							placeholder="What happened today? Place them here..." [(ngModel)]="userService.content">
						</ion-textarea> -->
					</ion-card-content>
				</ion-card>
		</ion-col>
	</ion-row>
</ion-grid>